/*================================
=            Menu CSS            =
================================*/

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body, html { font-size: 100%; padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: #F1F1F1;
	font-weight: 300;
}

a {
	color: #0678C9;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.main,
.container > header {
	width: 100%;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}

.main {
	min-height: 600px;
}

.side {
	float: right;
	width: 30%;
	padding-right: 20px;
	min-width: 320px;
	box-shadow: 1px 0 rgba(0,0,0,0.1);
}

.main p {
	font-size: 2em;
	padding: 0 1em;
	margin: 0;
	line-height: 1.5;
	float: right;
	width: 70%;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.02);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	color: #fff;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: rgba(255,255,255,0.7);
	padding: 0 0 0.6em 0.1em;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.85);
	text-transform: uppercase;
	position: relative;
	font-size: 0.68em;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.99);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

@media screen and (max-width: 66.9375em) {
	.side, .main p {
		float: none;
		width: 100%;
		box-shadow: none;
		padding: 1em;
	}

	.main p {
		font-size: 130%;
	}
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.woff') format('woff'),
	url('../fonts/icomoon.ttf') format('truetype'),
	url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dr-menu {
	position: relative;
	font-size: 1.3em;
	line-height: 2.5;
	font-weight: 400;
	color: #fff;
	display: inline-block;
}

.dr-menu > div  {
	cursor: pointer;
	/*position: absolute;*/
	width: 100%;
	z-index: 100;
}

.dr-menu > div .dr-icon {
	top: 0;
	left: 0;
	/*position: absolute;*/
	font-size: 150%;
	line-height: 1.6;
	padding: 0 10px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: #F1F1F1;
}

.dr-menu.dr-menu-open > div .dr-icon {
	color: #60a773;
	left: 100%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

.dr-menu > div .dr-icon:after {
	content: "\e008";
	position: absolute;
	font-size: 50%;
	line-height: 3.25;
	left: -10%;
	opacity: 0;
}

.dr-menu.dr-menu-open > div .dr-icon:after {
	opacity: 1;
}

.dr-menu > div .dr-label {
	padding-left: 3em;
	position: relative;
	display: block;
	color: #60a773;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2.75;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-label {
	-webkit-transform: translateY(-90%);
	-moz-transform: translateY(-90%);
	-ms-transform: translateY(-90%);
	transform: translateY(-90%);
}

.dr-menu ul {
	padding: 0;
	margin: 0 3em 0 0;
	list-style: none;
	opacity: 0;
	left: -40px;
	position: absolute;
	z-index: 0;
	pointer-events: none;
	-webkit-transition: opacity 0s linear 205ms;
	-moz-transition: opacity 0s linear 205ms;
	transition: opacity 0s linear 205ms;
}

.dr-menu.dr-menu-open ul {
	opacity: 1;
	z-index: 200;
	pointer-events: auto;
	background: white;
	padding: 20px;
	height: 1000px;
	-webkit-transition: opacity 0s linear 0s;
	-moz-transition: opacity 0s linear 0s;
	transition: opacity 0s linear 0s;
}

.dr-menu ul li {
	display: block;
	margin: 0 0 5px 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.dr-menu.dr-menu-open ul li {
	opacity: 1;
}

.dr-menu.dr-menu-open ul li:nth-child(2) {
	-webkit-transition-delay: 35ms;
	-moz-transition-delay: 35ms;
	transition-delay: 35ms;
}

.dr-menu.dr-menu-open ul li:nth-child(3) {
	-webkit-transition-delay: 70ms;
	-moz-transition-delay: 70ms;
	transition-delay: 70ms;
}

.dr-menu.dr-menu-open ul li:nth-child(4) {
	-webkit-transition-delay: 105ms;
	-moz-transition-delay: 105ms;
	transition-delay: 105ms;
}

.dr-menu.dr-menu-open ul li:nth-child(5) {
	-webkit-transition-delay: 140ms;
	-moz-transition-delay: 140ms;
	transition-delay: 140ms;
}

.dr-menu.dr-menu-open ul li:nth-child(6) {
	-webkit-transition-delay: 175ms;
	-moz-transition-delay: 175ms;
	transition-delay: 175ms;
}

.dr-menu.dr-menu-open ul li:nth-child(7) {
	-webkit-transition-delay: 205ms;
	-moz-transition-delay: 205ms;
	transition-delay: 205ms;
}

.dr-menu ul li a {
	display: inline-block;
	padding: 0 20px;
	color: black;
}

.dr-menu ul li a:hover {
	color: #60a773;
}

.dr-icon:before, 
.dr-icon:after {
	position: relative;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.dr-menu ul .dr-icon:before {
	margin-right: 15px;
}

.dr-icon-bullhorn:before {
	content: "\e000";
}

.dr-icon-camera:before {
	content: "\e002";
}

.dr-icon-heart:before {
	content: "\e003";
}

.dr-icon-settings:before {
	content: "\e004";
}

.dr-icon-switch:before {
	content: "\e005";
}

.dr-icon-download:before {
	content: "\e006";
}

.dr-icon-user:before {
	content: "\e001";
}

.dr-icon-menu:before {
	content: "\e007";
}

.vi-search-icon {
	display: inline;
	position: absolute;
	right: 15px;
	top: 10px;
	background: #f1f1f1;
	padding: 10px 5% 10px 5%;
	color: #000;
	border: 1px solid #CCC;
}
/*=====  End of Menu CSS  ======*/
.loading {
	margin: 0px;
	padding: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(102, 102, 102);
	z-index: 30001;
	opacity: 0.8;
	color: White;
}
.loading img {
	top: 45%;
	left: 50%;
	position: absolute;
}
.vi-logo {
	display: inline-block;
	width: 100px;
}
.vi-logo img {
	width: 100%;
}
.vi-fixed {
	padding: 10px;
	background: #FFF;
}
.vi-search {
	width: 100%;
	padding: 5px;
	color: #000;
}
.vi-signin {
	background: #0678C9;
}
.vi-upload {
	border: 1px solid #CCC;
	color: #000;
	background: #FFFFFF;
}
.vi-m-10 {
	margin-top: 10px;
}
.vi-m-20 {
	margin-top: 20px;
}

.vi-m-30 {
	margin-top: 30px;
}

.vi-m-40 {
	margin-top: 40px;
}

.vi-m-50 {
	margin-top: 50px;
}

.vi-m-60 {
	margin-top: 60px;
}
.vi-m-70 {
	margin-top: 70px;
}
.vi-m-80 {
	margin-top: 80px;
}
.vi-m-90 {
	margin-top: 90px;
}
.vi-m-100 {
	margin-top: 100px;
}
.vi-pb-10 {
	padding-bottom: 10px;
}
h3 {
	font-size: 16px;
}
.vi-main-showcase {
	padding: 0;
}
.vi-main-container {
	background: #FFF;
	margin-bottom: 10px;
}
.vi-top-content {
	border-bottom: 1px solid gray;
	float: left;
}
.vi-inner-img img{
	border: 1px solid #CCC;
	width: 100%;
}
.vi-inner-main-showcase {
	margin: 10px;
}
.vi-inner-main-showcase h3 {
	display: block;
	margin: 0;
	word-wrap: break-word;
}
.vi-inner-content {
	padding: 0;
}
.playlist, .views {
	font-size: 11px;
	display: block;
	color: #000;
	font-weight: bold;
}
.views ul {
	display: inline;
	margin: 0;
	padding: 0;
}
.views ul li {
	list-style-type: none;
}
.vi-horizontal-inner-showcase {
	width: 20%;
	display: block;
	float: left;
	padding: 10px;
	min-height: 260px;
}
.footer {
	padding: 10px;
	color: #000;
}
@media only screen and (max-width: 1024px) {
	.vi-horizontal-inner-showcase {
		min-height: 270px;
	}
	.vi-inner-img, .vi-inner-content {
		width: auto;
		padding: initial;
	}
}
@media only screen and (min-width:321px) and (max-width:768px) {
	.vi-vertical-showcase .vi-inner-img {
		width: 45%;
		display: inline-block;
		float: left;
		padding-left: 20px;
	}
	.vi-vertical-showcase .vi-inner-content {
		width: 55%;
		padding: 0;
		float: left;
	}
}
@media(max-width: 480px) {
	.dr-menu > div .dr-icon {
		font-size: 80%;
	}
	.vi-logo {
		display: inline-block;
		width: 50%;
	}
	.vi-upload {
		display: none;
	}
	.vi-vertical-showcase {
		width: 100%;
		float: left;
		padding: 0;	
	}
	.vi-main-showcase {
		padding: 0;
	}
	.vi-vertical-showcase .vi-inner-main-showcase {
		width: 50%;
		float: left;
		min-height: 280px;
		margin: 0;
		padding: 5px;
	}
	.vi-vertical-showcase .vi-inner-content {
		width: auto;
	}
	.vi-inner-img img{
		width: 100%;
		padding: 5px;
		border: none;
	}
	.vi-vertical-showcase .vi-inner-img {
		width: auto;
		padding: 0;
	}
	.vi-horizontal-inner-showcase {
		width: 50%;
	}
}
